/*
Theme Name: Responsive Website
Theme URI: http://nextclient.com/
Description: Designed and Powered by NextClient, Inc.
Author: NextClient, Inc.
Version: 1.0
Template: universal
*/

/* Universal Begins */
/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

i strong, em strong {font-style: italic;}
b em {font-weight: bold;}

header,nav,article,footer,section,aside,figure,figcaption{display:block}

a {outline: none;}

#nav-below {margin: 10px 0; overflow: hidden;}
.nav-previous, .nav-next {float: left; display: inline; width: 50%;}
.nav-next {float: right;text-align: right;}
.nav-previous a, .nav-next a {text-decoration: none;}

div.entry-meta {font-size: 90%;}
body.single .shareThisWrapper {margin: 0px 0 20px;}
.post_entry_mult {
	border-bottom: 1px solid #999;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
	.post_entry_mult_left {float: left; display: inline; width: 150px;}
	.post_entry_mult_right {padding-left: 160px;}
	.post_entry_mult .shareThisWrapper {margin: 0;}
	div.post_entry_mult h2 {padding-bottom: 0; margin-bottom: 0;}
	.excerpt_meta {font-size: 80%; margin: 0 0 10px;}
.postThumbSingle {margin: 0 0 10px;}
@media screen and (min-width: 450px) {
.postThumbSingle {float: left; margin: 5px 10px 0 0;}
}
.tag-links {display: block;}
.google-map {height: 350px;margin: 0 0 25px; border: 1px solid #333;}
/* Universal Ends */

blockquote {padding: 0 0 0 30px; font-style: italic;}
strong {font-weight: bold;}
i, em {font-style: italic;}
i strong, em strong, strong i, strong em {font-weight: bold;}

/* General */
html {-webkit-text-size-adjust: 100%; background: #333;}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #000;
	background: #fff;
}
a {color: blue;}
a, a:link, a:active, a:visited {text-decoration: none; outline: none;}
.animated {
	opacity: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.officiallyAnimated, .ie9 .animated, #persistentHeader .animated, #persistentHeader.animated {opacity: 1;}
article hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 80%;
	margin: 0 auto 20px;
}

#wrapper {}
#persistentHeader {
	-webkit-transform: perspective(1px) translateZ(0);
	-moz-transform: perspective(1px) translateZ(0);
	-ms-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
}
body.fsMenuOn #persistentHeader {
  -webkit-transform: none; /* Safari and Chrome */
       -moz-transform: none; /* Firefox */
        -ms-transform: none; /* IE 9 */
         -o-transform: none; /* Opera */
            transform: none;
}
#mhWrapper {}
#mainHeader {

}
	#logo-main {
		display: block;
		width: 90%;
		max-width: 400px; /*modme*/
		margin: 0 auto;
	}
	#logo-main img {display: block; width: 100%;}

/* Enable these next two lines to modify dropdown colors
html body nav.mm ul li:nth-child(2) ul {display: block; transform: scaleY(1); opacity: 1}
html body nav.mm ul li:nth-child(2) ul li:nth-child(2) > a {background-color: #5B9FC4;}
*/
nav.mm {
	text-align: center;
	background: gray;
	position: relative;
	z-index: 100;
}
nav.mm > ul > li > a {
    padding: 10px 10px;
    font-size: 14px;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}
nav.mm > ul > li > a:hover {transition: background 300ms linear;}
nav.mm > ul > li > ul {top: 34px;}
nav.mm > ul {height: 34px;}
nav.mm > ul > li:hover > a {background: red; color: white;}
nav.mm ul ul {background: orange; width: 180px; border: 1px solid green;}
nav.mm ul ul li:hover > a {background: pink; color: purple;}
nav.mm ul ul li {border-top: 1px solid red;}
nav.mm ul ul a {
    color: black;
    padding: 15px 10px;
    font-size: 14px;
/*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    text-transform: none;
    line-height: 1.3;
    font-weight: normal;
}
nav.mm ul {padding: 0; margin: 0; font-size: 0;}
nav.mm li {position: relative;}
nav.mm ul a {display: block; text-decoration: none;}
nav.mm > ul > li {display: inline-block;}
nav.mm ul ul {
	display: block;
	position: absolute;
	text-align: left;
	left: 0;
	top: -1px;
    transform-origin: top;
    -moz-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: 300ms;
}
nav.mm ul li:hover > ul {
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}
nav.mm ul ul ul {left: 100%;}
nav.mm ul ul li:first-child {border: 0;}

body.admin-bar #mmiWrapper {position: static;}
body.admin-bar.mob_menu #wrapper {padding: 0;}
body.mob_menu #wrapper {padding: 34px 0 0;}
body.mob_menu #wpadminbar {position: absolute;}
body.fsMenuOn #wpadminbar, body.fsMenuOn #contact-tab {display: none;}
#mmiWrapper, #mblSearchCont, nav.mm_mob {display: none;}
.mob_menu #mmiWrapper,
.fsMenuOn #mblSearchCont,
.fsMenuOn #closeMenu,
.fsMenuOn nav.mm_mob {display: block;}
.fsMenuOn #mmiWrapper {z-index: 1;}
#mmiWrapper, #closeMenu {background: #000;} /*modme*/
#mmiWrapper {box-shadow: 0 1px 10px rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; width: 100%; z-index: 999;}
#mobMenuItems {
	height: 34px;
	width: 295px;
	padding: 0;
	margin: 0 auto;
	text-transform: uppercase;
	position: relative;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
	.mmi {
		height: 100%;
		float: left;
		display: inline;
		list-style-type: none;
		list-style-position: outside;
	}
	.mmi > a {
		font-size: 14px;
		box-sizing: border-box;
		color: #fff;
		display: block;
		height: 100%;
		line-height: 34px;
		background-image: url(img/icons/menu2015.png);
		background-repeat: no-repeat;		
		text-indent: -222px;
		overflow: hidden;
		text-align: left;
	}
	#mm1 {width: 56px;}
	#mm2 {width: 57px; }
	#mm3 {width: 66px;}
	#mm4 {width: 52px;}
	#mm5 {width: 57px;}
	.mmi a:hover {text-decoration: none;}
	.mmi {border-right: 1px solid #454141;} /*modme*/
	#mm1 {border-left: 1px solid #454141;} /*modme*/
	#mm1 > a {background-position: 20px 0; padding: 0 0 0 47px;}
	#mm2 > a {background-position: 20px -34px;}
	#mm3 > a {background-position: 20px -68px;}
	#mm4 > a {background-position: 20px -102px;}
	#mm5 > a {background-position: 20px -136px;}
	/* Dropdown support */
	.mmi > ul {
		z-index: 1;
		width: 297px;
		left: -1px;
		display: none;
		position: absolute;
	}	
	.mmi:hover ul {display: block;}
	.mmi ul li {
		border-top: 1px solid #333; /*modme*/
	}
	.mmi ul li:first-child {border: 0;}
	.mmi ul a {
		background: #666; /*modme*/
		color: #fff; /*modme*/
		display: block;
		padding: 10px 10px;
		font-size: 16px;
	}
	.mmi ul a:hover {
		background: #999; /*modme*/
	}
	@media screen and (min-width: 385px) {
		#mobMenuItems {width: 348px;}
		#mm1 {width: 110px;}	
		#mm1 > a {text-indent: 0;}	
		.mmi > ul {width: 350px;}
	}
nav.mm_mob {
	position: absolute;
	padding: 34px 0 10px;
	left: 0;
	top: 0;
	width: 100%;
	background: #505050; /*modme*/
	z-index: 9999;
}
	nav.mm_mob ul {padding: 0;}
	nav.mm_mob > ul {padding: 10px 0 10px;}
		nav.mm_mob ul li {
			list-style-type: none;
			list-style-position: outside;
			display: block;
		}
		nav.mm_mob ul a {
			display: block;
			font-size: 15px;
			padding: 3px 1em 3px 0;
			color: #fff;
		}
		nav.mm_mob a:hover {
			background: #676767; /*modme*/
			text-decoration: none;
		}
			nav.mm_mob ul a {padding-left: 1em;}
			nav.mm_mob ul ul a {padding-left: 2em;}
			nav.mm_mob ul ul ul a {padding-left: 3em;}
			nav.mm_mob ul ul li a {text-transform: none;}
#closeMenu {
	display: none;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: #fff;
	z-index: 999999999;
	top: 0;
	right: 0;
	width: 100%;
	text-transform: uppercase;
	position: fixed;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}
#closeMenu:hover {text-decoration: none; color: #ccc;}
body.fsMenuOn #menuWall {
    position: fixed;
	background: #000;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    content: "";
    width: 100%;
    height: 200%;
    left: 0;
    top: 0;
}
#mblSearch {
	max-width: 350px;
	padding: 10px 1em;
	overflow: hidden;
}
#mblsInput, #mblsSubmit {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	float: left;
	display: inline;
	box-sizing: border-box;
}
#mblsInput {
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 0 5px;
	line-height: 1;
	height: 21px;
	width: 70%;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}
#mblsSubmit {
	width: 30%;
	border: 0;
	background: #6D716D; /*modme*/
	font-size: 10px;
	height: 21px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
#mblsSubmit:hover {background: #7A807A;} /*modme*/

@media screen and (min-width: 800px) {
    #wrapper {
        padding: 300px 0 0; /*modme*/
    }
    #persistentHeader{
    	background: blue; /*modme*/
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 999;
    }
    body.admin-bar #persistentHeader {top: 32px;}
	body.admin-bar.fsMenuOn #persistentHeader {top: 0;}
	body.sticky_zone .noSticky{ display: none; }
}
@media screen and (min-width: 1100px) {

}
#homeslides {
    position: relative;
    height: 300px;
    background-color: purple;
}
.homeslide {
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#homeslide1 {}
#homeslide2 {}
#homeslide3 {}
.slideBox {
    position: absolute;
    bottom: 0;
    background: pink;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.slideHead {}
.slideBody {}
.slideMore {}
.subslide {
    background-position: center top;
    background-repeat: no-repeat;
}
#subslide1 {}
#subslide2 {}
#subslide3 {}

@media screen and (min-width: 800px) {
	#syncMenu {z-index: 1;}
}

@media screen and (min-width: 1100px) {

}

#sync {height: 0; width: 0;}
.syncItem {position: relative; z-index: 0;}

/* BELOW THE FOLD (BTF) BEGINS */

p {padding: 0 0 20px;}
li {list-style-type: none; list-style-position: outside;}
.topo {display: block; overflow: hidden;}
.topo img {display: block; width: 100%;}

#contentArea {
	margin: 0 auto;
	overflow: hidden;
}
#mainContent {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #000;
}
	.article ul, .article ol {padding: 0 0 20px 30px;}
	.article li {list-style-position: outside;}
	.article ul li {list-style-type: disc;}
	.article ol > li {list-style-type: decimal;}
	.article ol > li > ol > li {list-style-type: lower-alpha;}
	.article ol > li > ol > li > ol > li {list-style-type: lower-roman;}	.article ul ul {padding-bottom: 0;}
	.article a:hover {text-decoration: underline;}
	.article ul, .article ol {overflow: hidden;}
	.article h1,
	.article h2,
	.article h3,
	.article h4,
	.article h5,
	.article h6 {
		line-height: 1.2;
		font-weight: normal;
		font-family: Georgia, Times, "Times New Roman", serif;
		color: #000;
		padding: 0 0 5px 0;
	}
	.article h1 {
		font-size: 25px;
		padding: 0 0 20px 0;
	}
	.article h2 {
		font-size: 18px;
		padding: 0 0 10px 0;
	}
	.article h3 {
		font-size: 16px;
		font-weight: bold;
	}
	.article h4 {
		font-size: 16px;
		font-style: italic;
	}
	.article h5 {
		font-size: 16px;
	}
	.headshot {
		width: 40%;
		max-width: 220px;
		float: left;
		margin: 0 15px 5px 0;
	}
	.article .alignright, .article .aligncenter, .article .alignleft{
	    margin: 10px auto;    
	}
	#shareThisPage {clear: both; border-top: 1px solid #2a3868; padding: 20px 0 0; margin: 15px 0 0;}
	#shareThisPageHead {display: inline-block; font-size: 16px; line-height: 1; font-weight: normal; text-transform: uppercase; margin: 0 10px 0 0;}
	#shareThisPage .shareThisWrapper {display: inline-block;}
	.shareThisWrapper {font-size: 0;}
	.dskSharingIcon {width: 16px; height: 16px; display: inline-block; margin: 0 14px 0 0; overflow: hidden;}
	.dskSharingIcon:hover {opacity: 0.8;}
	.dskSharingIcon_twitter img{margin: 0 0 0 -16px;}
	.dskSharingIcon_linkedin img{margin: 0 0 0 -32px;}
	.dskSharingIcon_googleplus img{margin: 0 0 0 -48px;}
	.mcTable {margin: 0 0 20px;}
	.mcTable td {vertical-align: top; display: block;}
	.mcTable ul {padding: 0 0 0 30px;}
#sidebar {

}



/* Content Area */
/*
@media screen and (min-width: 800px) {
	#syncContent {z-index: 1;}
	#mainContent {
		padding: 0;
		width: calc(100% - spaceBetweenSidebarAndMainContent - sidebarWidthOnPSD);
	}
	.article .alignright {
	    float: right;
	    margin: 0 0 5px 15px;
	}
	.article .aligncenter {
	    display: block;
	    margin: 0 auto;
	}
	.article .alignleft {
	    float: left;
	    margin: 0 15px 5px 0;
	}
	#sidebar {
		width: sidebarWidthOnPSD;
	}
}
@media screen and (min-width: 900px) {
	.mcTable td {display: table-cell; padding: 0 0 0 40px;}
	.mcTable td:first-child {padding: 0;}
}
*/


















/*BEGIN COPY*/

/*Team*/
.sxn-team{
	background: #202f3a;
	color: #fff;
	padding: 20px;
	box-shadow: inset 0 10px 15px 0 rgba(0,0,0,0.3);
	font-family: 'Lato', sans-serif;
}
.teamWrap{}
.teamTitle{
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	padding: 0 0 20px;
	transition: 300ms;
}
.teamList{}
.teamMem{
	margin: 0 auto 5px;
}
.teamMem a{
	display: block;
	background: #122634;
	border: 1px solid #42647d;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.3);
	transition: 300ms;
}
.teamMem:hover a, .teamMem.active a{
	background: #029147;
	border: 1px solid #029147;
	text-shadow: none;
	box-shadow: none;
}
.memBox{
	position: relative;
	background: rgba(0,0,0,0.3);
	border: 1px solid #42647d;
	padding: 200px 20px 20px;
	text-align: center;
}
.memBox:before{
	display: block;
	position: absolute;
	content: "";
	width: 150px;
	height: 150px;
	background: url(img/team/bensen.png);
	background-size: 100%;
	border: 1px solid #42647d;
	top: 20px;
	left: calc(50% - 75px);
}
/*Use this CSS to set cutout attorney image
when FPOs are replaced...*/
/*.memBox.cotter{
	background: url(img/team/cotter.png);
}
.memBox.moffett{
	background: url(img/team/moffett.png);
}
.memBox.truett{
	background: url(img/team/truett.png);
}
.memBox.winter{
	background: url(img/team/winter.png);
}
.memBox.vaghaiwalla{
	background: url(img/team/vaghaiwalla.png);
}*/
.memInfo{}
.memName{
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 0 10px;
	transition: 300ms;
}
.memBody{
	transition: 300ms;
}
.memMore{
	display: block;
	font-weight: bold;
	color: #029147;
	border: 2px solid #029147;
	text-align: center;
	padding: 10px;
	width: 200px;
	margin: 0 auto;
	transition: 300ms;
}
.memMore:hover{
	border: 2px solid #13a358;
	color: #fff;
	background: #008f45;
}
@media screen and (min-width: 800px){
	.sxn-team{
		background: url(img/team/team-bg-1120.jpg);
		background-size: cover;
		padding: 30px 0;
	}
	.teamWrap{
		position: relative;
		max-width: 760px;
		margin: 0 auto;
	}
	.teamWrap:after{
		content: "";
		display: table;
		clear: both;
	}
	.teamTitle{ font-size: 35px; /*73*/ letter-spacing: 1px; }
	.teamList{
		float: left;
		width: calc(40% - 5px);
	}
	.teamMem{ position: relative; }
	.teamMem:after{
		display: block;
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 0 12px 7px;
		border-color: transparent transparent transparent #039348;
		top: calc(50% - 12px);
		right: -7px;
		z-index: 9;
		transform: scaleX(0);
		-webkit-transform: scaleX(0);
		-moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform-origin: left;
		transition: 300ms;
	}
	.teamMem.active:after{
		transform: scaleX(1);
		-webkit-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
	}
	.teamMem a{
		padding: 15px;
		text-align: left;
	}
	.memBox{
		float: right;
		width: 60%;
		box-sizing: border-box;
		height: 596px;
		text-align: left;
	}
}
@media screen and (min-width: 1120px){
	.sxn-team{
		background-image: url(img/team/team-bg.jpg);
		padding: 50px 0;
	}
	.teamWrap{ max-width: 1080px; }
	.teamTitle{ padding: 0 0 40px; font-size: 55px; }
	.teamList{ width: calc(25% - 5px); }
	.memBox{
		width: 75%; 
		padding: 20px;
		height: 422px;
	}
	.memBox:before{
		left: 20px;
		top: auto;
		bottom: 0;
		border: 0;
		width: 300px;
		height: 411px;
	}
	.memBox:after{
		content: "";
		display: table;
		clear: both;
	}
	.memInfo{
		float: right;
		width: 450px;
		position: relative;
		z-index: 5;
	}
	.memName{ font-size: 20px; }
	.memMore{ margin: 0; }
}
@media screen and (min-width: 1640px){
	.sxn-team{ padding: 80px 0 100px; }
	.teamWrap{ max-width: 1600px; }
	.teamTitle{ font-size: 73px; padding: 0 0 80px; }
	.teamList{ width: 425px; }
	.teamMem:before{
		display: block;
		position: absolute;
		content: "";
		width: 78px;
		height: 78px;
		background: url(img/team/team-thumb.jpg);
		background-size: 600%;
		border: 1px solid #fff;
		top: 9px;
		left: 9px;
	}
	.teamMem2:before{ background-position: left -100% top; }
	.teamMem3:before{ background-position: left -200% top; }
	.teamMem4:before{ background-position: left -300% top; }
	.teamMem5:before{ background-position: left -400% top; }
	.teamMem6:before{ background-position: left -500% top; }
	.teamMem.active:after{
		border-width: 21px 0 21px 10px;
		top: calc(50% - 21px);
		right: -10px;
	}
	.teamMem a{
		font-size: 22px;
		padding: 34px 0 34px 115px;
	}
	.memBox{
		width: calc(100% - 5px - 425px);
		height: 613px;
	}
	.memBox:before{
		width: 471px;
		height: 645px;
	}
	.memInfo{
		width: 550px;
		padding: 40px;
	}
	.memName{ font-size: 36px; padding: 0 0 30px; }
	.memBody{ font-size: 18px; }
	.memMore{
		font-size: 20px;
		padding: 20px 0;
		width: 284px;
		margin: 30px 0 0;
	}
}
@media screen and (min-width: 1840px){
	.teamWrap{ max-width: 1800px; }
	.memInfo{ width: 750px; }
	.memBody{ line-height: 1.5; font-size: 19px; }
	.memBody > p{ padding: 0 0 30px; }
}
/*Testimonials*/
.sxn-testimonials{
	padding: 20px 0;
	background:  #e7d4d3;
	font-family: 'Lato', sans-serif;
}
.testsWrap{}
.testsList{
	width: 320px;
	margin: 0 auto;
}
.test{ padding: 0 10px; }
.testWrap{
	display: block;
	padding: 0 20px 20px 0;
	border: 1px solid #87bbe1;
	background: rgba(255,255,255,0.8);
	height: 410px;
}
.testQuotes{
	width: 50px;
	height: 50px;
	background: url(img/testimonials/quotes.png) center center no-repeat #008f45;
	background-size: 30px;
	float: left;
	margin: -1px 15px 0 -1px;
}
.testBody{
	padding: 20px 0 0 20px;
	transition: 300ms;
}
.testAuthor{
	display: block;
	text-align: center;
	padding: 10px 0 0;
	color: #008f45;
	font-weight: bold;
	transition: 300ms;
}
.testsArrows{
	width: 150px;
	margin: 20px auto 0;
	overflow: hidden;
}
.taPrev{ float: left; }
.taNext{ float: right; }
.testsArrows li{}
.testsArrows a{
	display: block;
	width: 64px;
	height: 105px;
	overflow: hidden;
}
.taNext img{ margin: 0 0 0 -64px; }
.testsArrows li:hover img{ margin-top: -105px; }
@media screen and (min-width: 800px){
	.sxn-testimonials{
		background: url(img/testimonials/testimonials-bg-1120.jpg);
		background-size: cover;
		padding: 30px 0 100px;
	}
	.testsWrap{ width: 760px; margin: 0 auto; position: relative; }
	.testsList{ width: 600px; }
	.testWrap{ height: 420px; }
	.testsArrows{
		position: absolute;
		margin: 0;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 100%;
	}
}
@media screen and (min-width: 1120px){
	.sxn-testimonials{
		background-image: url(img/testimonials/testimonials-bg.jpg);
		padding: 50px 0 200px;
	}
	.testsWrap{ width: 1080px;  }
	.testsList{ width: 900px; }
	.testWrap{ height: 425px; }
}
@media screen and (min-width: 1640px){
	.sxn-testimonials{
		padding: 100px 0 400px;
	}
	.test{ padding: 0 50px; }
	.testsWrap{ width: 1600px; }
	.testsList{ width: 1450px; }
	.testWrap{
		width: 400px;
		box-sizing: border-box;
		padding: 0 30px 30px 0;
		height: 445px;
	}
	.testQuotes{
		width: 71px;
		height: 71px;
		background-size: 37px;
		margin: -1px 30px 20px -1px;
	}
	.testBody, .testAuthor{ font-size: 18px; }
	.testBody{ padding: 30px 0 0 30px; }
	.testAuthor{ padding: 20px 0 0; }
}
@media screen and (min-width: 1840px){
	.testsWrap{ width: 1800px; }
	.testsList{ width: 1600px; }
	.test{ padding: 0 70px; }
}
/*Footer*/
#mainFooter {
	overflow: hidden;
	background: #1d2b36;
	color: #fff;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #6289a6;
	font-family: 'Lato', sans-serif;
}
.mfWrap{}
.mfLeft{}
.mfNumbers{
	border-top: 1px solid #008f45;
	border-bottom: 1px solid #008f45;
	padding: 5px 0;
	margin: 0 auto 10px;
}
.mfNumbers > span{
	text-transform: uppercase;
	color: #008f45;
	font-weight: bold;
	display: block;
}
.mfNumbers > span > a{
	color: #fff;
}
.mfHours{
	display: block;
	color: #008f45;
	font-weight: bold;
	padding: 0 0 10px;
}
.mfAddress{ display: block; padding: 0 0 10px; }
.mfMiddle{}
.mfTitle{
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.mfSubtitle{
	display: block;
	font-family: 'Merriweather', serif;
	font-style: italic;
	color: #36c97c;
	border: 1px solid #36c97c;
	width: 300px;
	margin: 5px auto;
	padding: 5px 0;
}
.mfRight{}
.fNav {
	padding: 5px;
	border-top: 1px solid #008f45;
	border-bottom: 1px solid #008f45;
	margin: 10px 0;
}
.fNav li {
	padding: 0;
	display: block;
	list-style-type: none;
	list-style-position: outside;
}
.fNav a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.fNav a:hover {
	color: #1bce72;
}

#mmBrandingWrapper {
	padding: 30px 20px 30px;
	font-size: 0;
	text-align: center;
}
#mmBranding {
	display: inline-block;
	/* margins, paddings, etc. */
	overflow: hidden;
}
#mmBranding, #mmBranding a {
	color: #fff;
	font: normal 10px/1.3 Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
}
#mmBranding a:hover {text-decoration: underline; font-weight: normal;}
#logo-mmm {
	display: inline-block;
}
#mmBranding p {
	margin: auto;
	padding: 12px 0 0;
	max-width: 320px; /*modme*/
	text-align: center;
}
#mmBranding br {display: none;}

@media screen and (min-width: 600px) {
	#mmBranding {
		display: inline-block;
	}
	#logo-mmm {
		display: inline-block;
		margin: 0 0 3px;
		vertical-align: bottom;
	}
	#mmBranding p {
		display: inline-block;
		margin: 0 0 0 10px;
		padding: 0;
		max-width: none;
		text-align: left;
		vertical-align: bottom;
	}
	#mmBranding br {display: inline;}
}
@media screen and (min-width: 800px){
	#mainFooter{
		background: url(img/footer/footer-bg-1120.jpg) center top;
		background-size: cover;
		box-shadow: inset 0 10px 20px 0 rgba(0,0,0,0.35);
		padding: 30px 0;
	}
	.mfWrap{ width: 760px; margin: 0 auto; }
	.mfLeft, .mfMiddle{
		display: inline-block;
		vertical-align: top;
	}
	.mfLeft{ text-align: left; padding: 0 100px 0 0; }
	.mfNumbers > span{
		position: relative;
		display: inline-block;
		padding: 0 25px 0 0;
	}
	.mfNumbers > span:first-of-type:after{
		display: block;
		position: absolute;
		content: "";
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: #008f45;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		right: 8px;
	}
	.fNav{
		display: inline-block;
	}
	.fNav li{
		display: inline-block;
		position: relative;
		padding: 0 10px;
	}
	.fNav li:before{
		display: block;
		position: absolute;
		content: "";
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: #008f45;
		top: 7px;
		right: -3px;
	}
	.fNav li:last-child:before{
		display: none;
	}
}
@media screen and (min-width: 1120px){
	#mainFooter{
		background-image: url(img/footer/footer-bg.jpg);
		padding: 40px 0;
	}
	.mfWrap{ width: 1080px; }
	.mfLeft{ float: left; padding: 0; }
	.mfHours, .mfAddress{display: inline-block; padding: 0;}
	.mfHours{ padding: 0 10px 0 0; }
	.mfMiddle{ clear: both; }
	.mfTitle{ font-size: 18px; }
	.mfSubtitle{ width: 240px; }
	.mfRight{ float: right; }
	.fNav{ margin: 0 auto 10px; }
	.fNav li{ padding: 0 15px; }
	#mmBrandingWrapper{ padding: 0; }
}
@media screen and (min-width: 1640px){
	#mainFooter{ padding: 65px 0; }
	.mfWrap{ width: 1600px; }
	.mfNumbers, .mfHours, .mfAddress{ font-size: 18px; }
	.mfNumbers{
		padding: 20px 15px 20px 0;
		margin: 0 auto 30px;
	}
	.mfNumbers > span{ padding: 0 35px 0 0; }
	.mfNumbers > span:first-of-type:after{ right: 13px; }
	.mfMiddle{ width: auto; }
	.mfTitle{ font-size: 35px; padding: 0 0 5px; }
	.mfSubtitle{ font-size: 25px; width: 454px; padding: 10px 0; }
	.fNav{
		padding: 20px 0;
		text-align: right;
		margin: 0 auto 40px;
	}
	.fNav li:last-child{ padding-right: 0; }

}
@media screen and (min-width: 1840px){
	.mfWrap{ width: 1800px; }
}

/*END COPY*/













#contact-tab {
	display: none;
    position: fixed;
    right: 0;
    z-index: 200;
	overflow: hidden;
    top: 240px;
	height: 98px;
}
#contact-tab:hover img {margin: -98px 0 0 0;}
#contact-tab img {display: block;}

/* Contact Form Styling */
.nc_form {
	background-color: #f0f0f0;
	padding: 1.25em 2%;
	margin: 0 0 1.25em;
	border: 2px solid #c0c0c0;
	border-radius: 5px;
	color: #333333;
}
.nc_form .req {color: #F71704;}
.nc_form label,
.nc_form input,
.nc_form textarea,
.nc_form select {display: block; width: 98%; padding: 0;}
	.nc_form input, .nc_form textarea {background: #fff; color: #8B898C;}
	.nc_form input, .nc_form textarea, .nc_form .captcha-container {
		border: 1px solid #999;
		border-radius: 3px;
	}
	.nc_form label {margin: 0 0 .125em;}
	.nc_form input, .nc_form textarea, .nc_form select {
		margin: 0 0 10px;
		padding: .4em 1%;
	}
	.nc_form textarea {height:60px;}
	.nc_form .captcha-container {padding: 0;width: 100%;}

.nc_form input.hidden {display:none;}
.nc_form input.submit-button {
	cursor:pointer;
	margin: 1em 0;
	padding: 0.6em 2%;
	width:auto;
	height:auto;
	background:#555;
	color:#fff;
	line-height: 1;
}
	.nc_form input.submit-button:hover {background:#777;}
.nc_form input.error {border-color:#f00;}
.nc_form label.error {color: #f00;}
.ncfDisclaimer {
	font-size: 80%;
	margin: 0 0 1em;
	padding: 0.33em 0 0;
}
	.ncfDisclaimer span {
		display: block;
		font-weight: bold;
		font-size: 125%;
	}
		.ncfDisclaimer span.req {display: inline; font-size: 80%;}
	.ncfDisclaimer input {
		display: inline;
		width: 10px;
		height: 10px;
		margin: 0 5px 0 0;
	}
	.ncfDisclaimer label {display: inline;}
.nc_form .captcha-wrapper {}
	.nc_form .captcha-wrapper input {max-width: 200px;}
	.nc_form .captcha-container {
		background: #fff;
		border: 1px solid #333;
		margin: 0 0 4px;
		text-align: center;
		max-width: 200px;
	}
	.nc_form .captcha-image {
		cursor: pointer;
		display: block;
		width: 100%;
	}
.nc_form .checkbox {margin: 0 0 10px;}
	.nc_form .checkbox input {
		display: inline;
		width: auto;
		height: auto;
		padding: 0;
		line-height: 1;
		margin: 0 0 0 10px;
	}
		.nc_form .checkbox input.delin {margin: 0;}
.nc_form .radio {margin: 0 0 10px;}
	.nc_form .radio input {
		display: inline;
		width: auto;
		height: auto;
		padding: 0;
		line-height: 1;
		margin: 0 0 0 10px;
	}
		.nc_form .radio input.delin {margin: 0;}
.nc_form .inlineSelect select {display: inline; width: auto;}

/* Contact Form - Custom */

/* Contact Form Styling Ends */

/* Blog Page */
@media screen and (max-width: 700px) {
	.post_entry_mult_left, .post_entry_mult_right {
		float: none;
		display: block;
		width: auto;
		padding: 0;
		margin: 0;
	}
	.postThumbMult {
		display: block;
		width: 80%;
		max-width: 150px;
		margin: 0 auto 0.5em;
	}
}

/*  add to style.css  */
/*  version: 1.8.1  */

/*  < slick >  */
/*  slick - get rid of blue outline on slideshow  */
:focus {
	outline: -webkit-focus-ring-color auto 0px;
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
	outline-width: 0px;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.slick-list:focus { outline: none; }
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	content: '';
	display: table;
}
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide {
	float: left;
	display: none;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden { display: none; }
/*  </ slick >  */