/* Newsletter Styling */
#nl-container {
	overflow: hidden;
}
#nl-pageTitle {
	border-bottom: 1px solid #333;
}
#nl-sidebar {
	width: 30%;
	float: left;
	display: inline;
	font-size: 0.9em;
	line-height: 1.3;
}
	ul#nl-articles, ul#nl-newslinks {
		margin: 0;
		padding: 0;
	}
	#nl-articles li, #nl-newslinks li {
		border-bottom: 1px solid #000;
		display: block;
	}
		#nl-articles li.nl-last-item, #nl-newslinks li.nl-last-item {
			border-bottom: 0;
		}
		#nl-articles li {
			padding: 0 0 0.8em;
			margin: 0 0 0.8em;
		}
		#nl-newslinks li {
			padding: 0 0 0.4em;
			margin: 0 0 0.5em;
		}
		#newslinkHeader {
			color: #000;
			font-size: 1.3em;
			font-weight: bold;
			margin: 0 0 0.6em;
		}
		a.nl-article-headline {
			color: #9d1c20;
			font-weight: bold;
			display: block;
			text-decoration: none;
			margin: 0 0 0.3em;
		}
		a.nl-article-headline:hover {
			text-decoration: underline;
		}
		.nl-excerpt {

		}
#nl-mainContent {
	width: 65%;
	float: right;
	display: inline;
}
#nl-copyright {
	font-size: 0.8em;
	text-align: center;
	padding: 1em 0 1.5em;
}
body.nl-page #sidebar {
	display: none;
}
body.nl-page #mainContent {
	float: none;
	display: block;
	width: auto;
}

/* Newsletter - Custom */

h1#nl-pageTitle {
}
h2#nl-articleTitle {
}

/* Newsletter Styling Ends */